p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  padding: 10px 20px;
  margin-top: 60px;
}
.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  margin: 10px;
  }

  placing a margin of 60pixels around the <p> element and 10 pixels around the .share a element
