/* Roast types */
.green {background-color: #9EB599;
  {
  background-color: rgb(143, 188, 143);
}

.light {
  background-color: #683C2C;
}

.city {
  background-color: #4C352D;
}
.vienna {
  background-color: #352926;
}
.italian {
  background-color: #141212;
}
