/* Roast types */
.green {
  background-color: #8FBC8F;
}

.light {
  background-color: #A0522D;
}

.city {
  background-color: #8B4513;
}

.vienna {
  background-color: #A52A2A;
}

.italian {
  background-color: #000000;
}colors can be represented by the name or number of a color
