/* Roast types */
.green {
  background-color: rgb(143, 188, 143);
}

.light {
  background-color: rgb(160, 82, 45);
}

.city {
  background-color:rgb(139, 69, 19);
}
/*numbers can be represented as number.*/
